:root {
	--main-color: black;
	--secondary-color: white;
}

body {
	font-family: Segoe UI;
	padding-top: 70px;
}

.dark {
	background-color: var(--main-color);
}

header {
	background-color: var(--main-color);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
}

header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

header h1 {
	color: var(--secondary-color);
}

header .search-box input {
	width: 400px;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	outline: none;
}

header .search-box button {
	background-color: var(--secondary-color);
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	color: var(--main-color);
	border: none;
	outline: none;
}

header .theme {
	background-color: var(--secondary-color);
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	color: var(--main-color);
	border: none;
	outline: none;
}

.dark-header {
	background-color: var(--secondary-color);
}

.dark-header h1 {
	color: var(--main-color);
}

.dark-header .search-box input {
	width: 400px;
	padding: 10px 20px;
	border: none;
	background-color: var(--main-color);
	color: var(--secondary-color);
	border-radius: 5px;
}

.dark-header .search-box button {
	background-color: var(--main-color);
	color: var(--secondary-color);
}

.dark-header .theme {
	background-color: var(--main-color);
	color: var(--secondary-color);
}

@media (max-width: 767px) {
	header .container {
		padding: 20px;
	}

	header h1 {
		display: none;
	}

	header .search-box {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	header .search-box input {
		width: 300px;
	}

	.dark-header .search-box input {
		width: 300px;
	}
}

@media (max-width: 992px) {
	header .search-box input {
		width: 200px;
	}

	.dark-header .search-box input {
		width: 200px;
	}
}

main {
	padding: 50px 0;
}

main section {
	display: flex;
	justify-content: center;
}

main section .results {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

main section .results .result {
	border-radius: 10px;
	overflow: hidden;
	height: 300px;
	position: relative;
}

main section .results .result img {
	width: 100%;
	height: 100%;
}

main section .results .result h1 {
	position: absolute;
	bottom: 0;
	color: var(--secondary-color);
	background-color: rgb(0, 0, 0, 40%);
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
